.row{
    margin-left: 20px;
    color: white;
}
.row__posters{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-width: none;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    width: 266.67px;
    object-fit: cover;
    min-height: 150px;
    transition: transform 450ms;
    margin-right: 16px;
    border-radius: 8px;
}

.row__poster:hover{
    transform: scale(1.08);
    opacity: 1;
    box-shadow: 0 0 3pt 2pt white;
    
    /* overflow: hidden; */
}

.row__posterLarge{
    width: 166.67px;
    min-height: 250px;
}
.row__posterLarge:hover{
    transform: scale(1.09);
}